/* *********************************************** */
/* *******                                 ******* */
/* *******          MEDIA QUERIES          ******* */
/* *******                                 ******* */
/* *********************************************** */

@media (min-width: 576px) {

    .container-resizable-avatar {
        width: 20%;
    }

    /* ******* RESAUX SOCIAUX ******* */
    .reseaux-sociaux {
        justify-content: center;
    }

    .reseaux-sociaux a {
        position: absolute;
        transition: ease-in-out .9s;
        opacity: 0;
    }

    .reseaux-sociaux:hover a {
        opacity: 1;
    }

    .reseaux-sociaux:hover #facebook {
        transform: translateX(4em);
    }

    .reseaux-sociaux:hover #tiktok {
        transform: translateX(7em);
    }

    .reseaux-sociaux:hover #twitter {
        transform: translateX(-4em);
    }

    .reseaux-sociaux:hover #youtube {
        transform: translateX(-7em);
    }

    .reseaux-sociaux:hover #instagram {
        transform: translateX(10em);
    }

    .reseaux-sociaux:hover #twitch {
        transform: translateX(-10em);
    }

    /* **************************** */
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .container-resizable-avatar {
        width: 14%;
    }

    section.homePage {
        &.bloc-2 {
            .left {
                border-radius: 30px 30px 0 30px;
            }

            .right {
                border-radius: 30px 30px 30px 0;
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .countdownHolder {
        font: 35px/1.5 'Iceland', cursive;
    }

    .container-resizable-avatar {
        width: 11%;
    }
}

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}