/* *********************************************** */
/* *******                                 ******* */
/* *******         RESAUX SOCIAUX          ******* */
/* *******                                 ******* */
/* *********************************************** */
.reseaux-sociaux {
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.reseaux-sociaux a.reseaux img {
    width: 100%;
    height: 100%;
}

#discorde {
    z-index: 500;
    cursor: pointer;
}

#discorde img {
 width: 70px;
}
/* *********************************************** */
/* *********************************************** */
/* *********************************************** */

/* *********************************************** */
/* *******                                 ******* */
/* *******          MEDIA QUERIES          ******* */
/* *******                                 ******* */
/* *********************************************** */
@media (min-width: 576px) {

    /* ******* RESAUX SOCIAUX ******* */
    .reseaux-sociaux {
        justify-content:center;
    }

    .reseaux-sociaux a {
        position:absolute;
        transition: ease-in-out .9s;
        opacity: 0;
    }

    .reseaux-sociaux:hover a {
        opacity: 1;
    }

    .reseaux-sociaux:hover #facebook {
        transform: translateX(4em);
    }

    .reseaux-sociaux:hover #tiktok {
        transform: translateX(7em);
    }

    .reseaux-sociaux:hover #twitter {
        transform: translateX(-4em);
    }

    .reseaux-sociaux:hover #youtube {
        transform: translateX(-7em);
    }

    .reseaux-sociaux:hover #instagram {
        transform: translateX(10em);
    }

    .reseaux-sociaux:hover #twitch {
        transform: translateX(-10em);
    }
    /* **************************** */
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}