@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}

body {
    background-color: black;
}

main {
    height: 100vh;
    background-image: url('../img/teaser.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 30% top ;
}

label {
    font-family: 'Iceland', cursive;
    font-size: 4em;
    color: #000000;
    /* background: #FFFFFF; */
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
}

.reseaux-sociaux {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
}

.reseaux-sociaux .masquer-1, .masquer-2, .masquer-3 {
    opacity: 0;
}

.reseaux-sociaux .masquer-1{
    transition: opacity 0.3s;
}

.reseaux-sociaux .masquer-2{
    transition: opacity 0.3s 0.1s;
}

.reseaux-sociaux .masquer-3{
    transition: opacity 0.3s 0.2s;
}

.reseaux-sociaux:hover .masquer-1, .reseaux-sociaux:hover .masquer-2, .reseaux-sociaux:hover .masquer-3{
    opacity: 1;
}

.reseaux-sociaux .small {
    max-width: 30px;
} 


