/* *********************************************** */
/* *******                                 ******* */
/* *******             SERVEUR             ******* */
/* *******                                 ******* */
/* *********************************************** */

section.team {
    background-image: url('../img/fond-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-resizable-avatar {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;

    .group-link {
        // border: 1px solid red;
        position: relative;
    }

    .link {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0 50px 50px;
        padding: 0 5px 10px 5px;
        // border: 1px solid red;
        // background-color: rgba(255, 255, 255, 0.5);
        transition: ease-in-out .9s;
        top: 0;
        left: 22px;
        opacity: 0;
        transform: translateY(100px);
    }

    .group-link:hover .link {
        // transform: translateY(100px);
        opacity: 1;
    }

    img.avatar {
        background-color: #000000;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid $island;
        overflow: hidden;
        cursor: pointer;
    }

    h5 {
        text-transform: none;
        color: white;
    }

    small {
        color: white;
        text-align: center;
    }

    .avatar-hidden {
        height: 100px;
        width: 100px;
    }
}