/* *********************************************** */
/* *******                                 ******* */
/* *******              VIP                ******* */
/* *******                                 ******* */
/* *********************************************** */

section.vip {
    background-image: url('../img/gta_decors4 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}