/* *********************************************** */
/* *******                                 ******* */
/* *******            GALERIE              ******* */
/* *******                                 ******* */
/* *********************************************** */

section.galeriePage {
    background-image: url('../img/fd_Index-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}