/* *********************************************** */
/* *******                                 ******* */
/* *******            HOMEPAGE             ******* */
/* *******                                 ******* */
/* *********************************************** */

section.homePage {

    &.bloc-1 {
        min-height: 90vh;
        background-image: url('../img/fd_Index-1.png');
        background-repeat: no-repeat;
        background-size: cover;

        .page-1, .page-2, .page-3 {
            // border:1px solid blue;
            height: 350px;

            @media (min-width: 576px) {
                height: 450px;
            }

            @media (min-width: 768px) {
                height: 450px;
            }
        }

        .page-3 {
            .top-server {
                width: 400px;

                &--color {
                    color:orangered;
                }

            }
        }
    }

    &.bloc-2 {
        background-image: url('../img/fd_Index-2.png');
        background-repeat: no-repeat;
        background-size: cover;

        .avis {
            background-color: rgba(255, 255, 255, 0.7);
            width: 400px;
        }

        .left,
        .right {
            border-radius: 30px;
        }
    }
}