/* *********************************************** */
/* *******                                 ******* */
/* *******            EVENEMENTS           ******* */
/* *******                                 ******* */
/* *********************************************** */

section.event {
    background-image: url('../img/event.png');
    background-repeat: no-repeat;
    background-size: cover;
}